* {
  margin: 0;
}
.dontshow {
  display: none;
}
.end-game {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}
#board {
  width: 600px;
  height: 600px;
}
.square {
  width: 32%;
  height: 32%;
  padding: 2px;
  border: solid 1px black;
  display: inline-block;
  transition: all 0.5s;
  margin-right: 1%;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
#cat {
  display: none;
  width: 600px;
  height: 600px;
}
#one-player, #two-players, #reset-button {
  border: solid 1px black;
  padding: 10px;
  cursor: pointer;
  width: auto;
  display: inline-block;
}
