* {
  margin: 0;
}
#board {
  width: 600px;
  height: 600px;
}
.square {
  width: 32%;
  height: 32%;
  padding: 2px;
  border: solid 1px black;
  display: inline-block;
}

#cat {
  display: none;
  width: 600px;
  height: 600px;
}

#bluewin {
  display: none;
  width: 600px;
}

#redwin {
  display: none;
  height: 600px;
}

.playerSelect {
  margin-bottom: 20px;
}
